body {
  font-family: 'Garamond', 'times', serif;
  font-size: 125%;
}
h1 { 
  font-variant: small-caps;
  text-align: center;
  margin-bottom: 15px;
}

ul.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.main-menu>li {
    display: inline;
}
.frame {
width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: block;
